In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
currWD = os.getcwd()

In [3]:
sTicker_lis =  ['3443','2388', '2498', '2610', '1319', '3035', '3006', '2615', '5425', '3105']
def dff(ticker):  
    a = pd.read_csv(ticker + '.csv')
    del a['Unnamed: 0']
    a = a[['return', 'time']]
    a.set_index('time', inplace = True)
    a.rename(columns={'return': ticker},inplace = True)
    return a

In [4]:
d_lis = ['0621', '0626','0627','0628','0629']
df_lis = []
currWD = os.getcwd()
for d in d_lis:
    destination = './GBRT_'+ d + '/'
    os.chdir(destination)
    for i in range(len(sTicker_lis)):
        df = dff(sTicker_lis[i])
        if i == 0:
            total_df = df
        else:
            total_df = pd.merge(total_df, df, left_index=True, right_index=True, how='outer').fillna(method = 'ffill')
    df_lis.append(total_df)
    os.chdir(currWD)

In [18]:
df = pd.DataFrame(columns = df_lis[0].columns)
for i in df_lis:
    df = pd.concat([df, i.iloc[[-1]]])

In [19]:
df

,3443,2388,2498,2610,1319,3035,3006,2615,5425,3105
13:24:56.566000,-0.02625,-0.00417,-0.00364,0.002345,0.014585,0.0039,-0.00784,-0.01529,-0.03357,-0.01645
13:23:03.336000,0.00975,-0.00266,-0.01456,0.00198,0.000135,0.01845,-0.010015,-0.017175,-0.02616,-0.02185
13:24:01.890000,-0.0795,-0.002655,-0.020105,-0.058705,-0.03335,-0.02245,-0.012065,-0.03103,-0.0019,0.0141
13:21:10.018000,-0.02775,-0.047005,-0.017345,0.007642,0.01021,-0.009025,0.00358,-0.016465,-0.02954,-0.004625
13:24:18.715000,0.017,0.013965,0.000075,-0.037997,-0.01924,0.02975,-0.01802,-0.010285,0.004435,-0.115825

In [20]:
df.mean().sort_values(ascending = False)

3035    0.004125
1319   -0.005532
2388   -0.008505
3006   -0.008872
2498   -0.011115
2610   -0.016947
5425   -0.017347
2615   -0.018049
3443   -0.021350
3105   -0.028930
dtype: float64

In [21]:
df.std().sort_values()

2615    0.007741
3006    0.007926
2498    0.008840
5425    0.017339
1319    0.020288
3035    0.020863
2388    0.022772
2610    0.029673
3443    0.038355
3105    0.050495
dtype: float64